/* Подключаем Clear Sans */
@font-face {
  font-family: 'Clear Sans';
  src: url('./fonts/ClearSans-Regular.woff2') format('woff2'),
    url('./fonts/ClearSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Применяем ко всему сайту */
body {
  font-family: 'Clear Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background: #010A26;
  color: #e5e7eb;
  line-height: 1.6;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.hero {
  padding: 80px 20px;
  text-align: center;
}

.projects {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: #020617;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.toggles {
  margin: 10px 0px;
  padding: 0 0px;
}

.toggle-item {
  background: #C2D7F2;
  ;
  border-radius: 12px;
  margin-bottom: 16px;
  overflow: hidden;
}

.toggle-item summary:hover .summary-text {
  color: #2A5E8C;
}

.toggle-item summary:hover::after {
  color: #2A5E8C;
}

.toggle-item summary {
  list-style: none;
  cursor: pointer;
  padding: 18px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #252626;
}

.toggle-item summary::-webkit-details-marker {
  display: none;
}

.toggle-item summary::after {
  content: "▸";
  float: left;
  margin-right: 8px;
  /* ← вот это расстояние */
}

.toggle-item[open] summary::after {
  transform: rotate(90deg);
}

.toggle-content {
  padding: 0 20px 20px;
  color: #252626;
}

.toggle-content img {
  width: 100%;
  margin-top: 12px;
  border-radius: 8px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.card {
  background: #26528C;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card h3 {
  margin-top: 0;
}

.card-wide {
  grid-column: span 2;
}

/* Адаптивность */
@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-wide {
    grid-column: span 1;
  }
}

/* Сетка мини-карточек */
.responsibility-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* Мини-карточки */
.mini-card {
  background: #C2D7F2;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

/* Заголовки мини-карточек */
.mini-card h4 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 16px;
  color: #252626;
}

/* Технологии */
.mini-card em {
  display: block;
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

/* Текст */
.mini-card p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #252626;
}

/* Адаптивность */
@media (max-width: 1100px) {
  .responsibility-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .responsibility-grid {
    grid-template-columns: 1fr;
  }
}

/* #202933
   #6e7f8d
   #B3A478
   #332E20
 */